<div class="row">
	<div class="col-md-4">
		<h1>Evaluations passés</h1>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3>Evaluations passées</h3>
			</div>
			<div class="panel-body">
				<div>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum repellat, ratione, laboriosam aspernatur nesciunt quia rerum blanditiis porro, saepe ullam enim minus inventore laudantium ex eum vero minima. Eligendi, fuga.
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<h1>Evaluations futures</h1>
		<div class="panel panel-default">
			<div class="panel-heading">
			<h3>Evaluations futurs</h3>
		</div>
		<div class="panel-body">
			<div>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum repellat, ratione, laboriosam aspernatur nesciunt quia rerum blanditiis porro, saepe ullam enim minus inventore laudantium ex eum vero minima. Eligendi, fuga.
			</div>
		</div>
		</div>
	</div>
	<div class="col-md-4">
		<h1>Visio</h1>
	</div>
</div>