<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 well ">
            <legend><i class="glyphicon glyphicon-globe"></i> Identité </legend>
            <div class="row">
                <div class="col-md-6 form-group">
                    <input ng-model="newUser.name.first" class="form-control" name="firstname" placeholder="Prénom" type="text"
                        required autofocus />
                </div>
                <div class="col-md-6 form-group">
                    <input ng-model="newUser.name.last" class="form-control" name="lastname" placeholder="Nom" type="text" required />
                </div>
            </div>
            <div class="form-group">
               <input ng-model="newUser.email" class="form-control" name="email" placeholder="E-mail" type="email" />
            </div>
            <div class="form-group">
                <input ng-model="newUser.password" class="form-control" name="password" placeholder="Mot de passe" type="password" />
                <input ng-model="newUser.Repassword" class="form-control" name="reenterpassword" placeholder="Retaper le mot de passe" type="password" />
            </div>
            <div class="form-group">
                <select ng-model="newUser.profile" class="form-control">
                    <option selected value="">Choisissez le profile</option>
                    <option value="professeur">Professeur</option>
                    <option value="etudiant">Etudiant</option>
                </select>
            </div>
            
            <br />
            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="createUser()" data-toggle="modal" data-target="#createdUser">
                <p>Enregistrer</p>
            </button>
            <div ng-show="created" class="modal" id="createdUser">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Fermer</span>
                            </button>
                            <h4 class="modal-title">Ajout utilisateur</h4>
                        </div>
                        <div class="modal-body">
                            <p>Utilisateur ajouter avec succès</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-md-4"></div>
    </div>
</div>