<!-- views/about.ejs -->
<!DOCTYPE html>
<html>
<head>
	<% include partials/template/head.ejs %>
</head>
<body>
<div class="container-fluid">
	<header id="header" class="row">
		<div class="col-md-12">
			<span class="text-left">Bienvenue</span>
			<br>
			<span class="text-left">Sur notre Plateforme d'évaluation interactive</span>

			<br><hr class="rule">
			<br>
			<small class="text-left">Pour permettre aux professeurs d'évaluer leurs étudiants en visioconférence</small class="subtitle">
		</div>
	</header>
</div>
<div class="container">
	
	<% include partials/template/menu.ejs %>
	<div class="row">
		<section id="about"  class="col-md-offset-2 col-md-8">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ad libero modi fugit architecto adipisci quos possimus officiis cumque quod expedita corporis nemo tempore aliquam, cupiditate, officia, illo tenetur a!
				Odit blanditiis distinctio consectetur doloribus vel voluptates, soluta impedit, quibusdam maiores reprehenderit nobis, velit aspernatur recusandae veritatis! Autem nam voluptatem ducimus deleniti laboriosam. Laboriosam impedit praesentium officiis illo libero mollitia?
				Nulla, laudantium corrupti cum veritatis, eligendi doloribus repellendus earum dicta modi nihil aut? Totam aut illo, nam! Reiciendis iste, eos a, ipsam minima tempore eius optio! Officiis recusandae, ex quibusdam.
				Dolorem suscipit, animi nostrum excepturi vel quidem soluta molestiae facere optio blanditiis mollitia incidunt voluptatum unde. Repellendus totam sapiente porro, cumque iusto aspernatur nihil vero, debitis doloribus eligendi, fuga optio.
				Enim totam numquam atque itaque, architecto, excepturi dignissimos repellat quam incidunt? Modi voluptatibus est nulla quidem nihil, expedita obcaecati minima atque quaerat cum, quasi quod! Explicabo cum ipsam, illum nostrum!
				Sed numquam, dolor doloribus blanditiis. Dignissimos, est hic obcaecati ipsa perferendis repellat nulla sed distinctio provident repudiandae possimus facilis reiciendis fuga animi voluptatum, deserunt, atque tempora voluptas, sit. Excepturi, illo.
				Molestiae cumque, dolores, maxime in facilis modi numquam, rem asperiores eaque magni laboriosam! Reiciendis tempora deserunt quia tenetur, maxime quae ratione cum optio rem officiis maiores ducimus, fugit alias, architecto!
				Aperiam labore earum obcaecati inventore officia at, illum quibusdam quos ad fugit tempore, perspiciatis modi accusamus ea est dolores veniam ullam. Nesciunt temporibus inventore quibusdam quidem quaerat voluptatum dolorum, est.
			</p>
		</section>
		<div class="col-md-2"></div>
	</div>

	
	
	<footer class="row">
		<% include partials/template/footer.ejs %>
	</footer>
</div><!-- principal div container -->

</body>
</html>